:root {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 30px;
}

body {
  margin: 0;
}

main {
  margin: 3em auto;
  width: 90%;
}

h1 {
  margin-top: 0;
}

button,
input {
  font-size: 0.8em;
}

.button {
  background-color: #fff;
  border: 3px solid #000;
  box-shadow: 0.15em 0.15em #000;
  cursor: pointer;
  font-weight: bold;
  padding: 0.3em 1em;
}

.button:active {
  box-shadow: 0 0;
  transform: translate(0.15em, 0.15em);
}

.page-sections {
  display: flex;
  justify-content: space-evenly;
}

.scores {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1em;
}

.refresh {
  align-self: center;
}

.list {
  border: 3px solid #000;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.list li {
  padding: 0.3em 1em;
}

.list li:nth-child(odd) {
  background-color: #ddd;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.text-input {
  border: 3px solid #000;
}

.submit {
  align-self: flex-end;
}
