@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Share+Tech+Mono&display=swap');

:root {
  --title-font: 'Bebas Neue', cursive;
  --content-font: 'Share Tech Mono', monospace;

  box-sizing: border-box;
  color: #fff;
  font-size: 30px;
}

body {
  background-color: #191528;
  font-family: var(--content-font);
  margin: 0;
}

main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  padding-top: 5vh;
  position: relative;
  width: 90%;
}

h1 {
  margin-top: 0;
}

h2 {
  margin-top: 1.2rem;
  margin-bottom: 0;
}

h1,
h2 {
  font-family: var(--title-font);
}

button,
input {
  font-family: var(--title-font);
  font-size: 0.8em;
}

input::placeholder {
  color: #e87b94;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

section {
  padding: 0 0.5em;
}

.button {
  background-color: #fff;
  border: 3px solid #000;
  box-shadow: 0.15em 0.15em #000;
  cursor: pointer;
  font-weight: bold;
  padding: 0.3em 1em;
}

.button:hover {
  background-color: #3c162f;
  color: #fff;
}

.button:active {
  box-shadow: 0 0;
  transform: translate(0.15em, 0.15em);
}

.emph {
  color: #da0c3c;
  font-style: normal;
}

.page-sections {
  background-color: #5c162e;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  box-shadow: 0 0 5px 5px #0000004d;
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.scores {
  align-items: flex-start;
  column-gap: 1em;
  display: flex;
  flex-wrap: wrap;
}

.refresh {
  margin-top: 1.2rem;
}

.list {
  border: 3px solid #000;
  box-shadow: 0 10px 10px #0000005d inset, 0 -10px 10px #0000005d inset;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  max-height: 50vh;
  overflow-y: scroll;
  padding: 0.5em;
  row-gap: 0.5em;
  width: 100%;
}

.list li {
  background-color: #7c162e;
  border-radius: 5px;
  display: flex;
  padding: 0.3em 1em;
  position: relative;
  transition: box-shadow 0.1s ease-out;
}

.list li:hover {
  box-shadow: 5px 5px 5px #0000008a;
}

.list li span {
  z-index: 10;
}

.list .graph {
  background-color: #286c13;
  border-radius: 5px;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

.list .position {
  color: #91a6ec;
}

.list .score {
  flex-grow: 1;
  text-align: end;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  width: 10em;
}

.text-input {
  border: 3px solid #000;
}

.submit {
  align-self: flex-end;
}

@media (max-width: 1024px) {
  :root {
    font-size: 26px;
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 20px;
  }

  h1 {
    position: fixed;
  }

  .scores {
    justify-content: space-between;
    row-gap: 1em;
  }

  .add-score {
    text-align: center;
  }

  .form {
    margin: 0 auto 3em auto;
  }

  .page-sections {
    flex-direction: column;
    position: relative;
    top: 4em;
  }
}
